<!-- <div *ngIf="!this.signer" class="connect">
  <label>You have not connected</label>
</div>
<div *ngIf="this.signer" class="connect">
  <label>You have connected</label>
</div> -->
<!-- 
<div class="signer-address">
  {{ this.signerAddress }}
</div> -->

<!-- <div class="forms">
  <form ngNativeValidate [formGroup]="addVehForm" (ngSubmit)="addVehicle()">
    <mat-card>
      <mat-card-title>Zarejestruj pojazd</mat-card-title>
      <div class="row flex-grow-1">
        <div class="col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>VIN</mat-label>
            <input matInput formControlName="vin" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Marka</mat-label>
            <input matInput formControlName="brand" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Model</mat-label>
            <input matInput formControlName="model" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Numer rejestracyjny</mat-label>
            <input matInput formControlName="regNum" required />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>Właściciel</mat-label>
            <input matInput formControlName="owner" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Współwłaściciel</mat-label>
            <input matInput formControlName="co_owner" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Województwo rejestracji</mat-label>
            <input matInput formControlName="regProvince" required />
          </mat-form-field>
        </div>
      </div>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-button color="primary" type="submit">Zarejestruj</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div> -->
