<nav class="navbar navbar-dark bg-dark">
  <!-- <a class="navbar-brand" routerLink="/"> VehicleHistoryDapp </a> -->
  <a class="navbar-brand" routerLink="/"> Ewidencja pojazdów SEHP </a>
  <div>
    <a class="btn btn-outline-light" routerLink="/registration-office">
      <!-- Registration office  -->
      Biuro rejestracji
    </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/vehicle-inspector">
      <!-- Vehicle inspector  -->
      Inspektor pojazdu
    </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/police">
      <!-- Police  -->
      Policja
    </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/insurer">
      <!-- Insurer  -->
      Ubezpieczyciel
    </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/vehicle-report">
      <!-- Vehicle report -->
      Raport pojazdu
    </a>
  </div>
</nav>
<!-- <div *ngIf="mmConnected$ | async">
  <add-vehicle></add-vehicle>
  <br />
  <add-owner></add-owner>
</div> -->
<router-outlet></router-outlet>
