<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"> VehicleHistoryDapp </a>
  <div>
    <a class="btn btn-outline-light" routerLink="/registration-office">
      Registration office
    </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/vehicle-inspector">
      Vehicle inspector
    </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/police"> Police </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/insurer"> Insurer </a>
    &nbsp;
    <a class="btn btn-outline-light" routerLink="/vehicle-report">
      Vehicle report
    </a>
  </div>
</nav>
<!-- <div *ngIf="mmConnected$ | async">
  <add-vehicle></add-vehicle>
  <br />
  <add-owner></add-owner>
</div> -->
<router-outlet></router-outlet>
